*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

[Bb]in/*
[Dd]ebug Static/*
[Rr]elease Static/*
[Rr]!O Static/*
[Dd]ebug DLL/*
[Rr]elease DLL/*
[Rr]!O DLL/*


*/[Bb]in/*
*/[Dd]ebug Static/*
*/[Rr]elease Static/*
*/[Rr]!O Static/*
*/[Dd]ebug DLL/*
*/[Rr]elease DLL/*
*/[Rr]!O DLL/*

*/*/[Bb]in/*
*/*/[Dd]ebug Static/*
*/*/[Rr]elease Static/*
*/*/[Rr]!O Static/*
*/*/[Dd]ebug DLL/*
*/*/[Rr]elease DLL/*
*/*/[Rr]!O DLL/*

*/*/*/[Bb]in/*
*/*/*/[Dd]ebug Static/*
*/*/*/[Rr]elease Static/*
*/*/*/[Rr]!O Static/*
*/*/*/[Dd]ebug DLL/*
*/*/*/[Rr]elease DLL/*
*/*/*/[Rr]!O DLL/*

*.sdf 
*.opensdf
*.suo
*.vcxproj.user
*.ipch
*.sdf

Lib/*.lib
Lib/*.bsc

*.cso
