*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*/[Bb]in/*
*/[Dd]ebug/*
*/[Rr]elease/*


[Bb]in/*
[Dd]ebug/*
[Rr]elease/*

*.sdf 
*.opensdf
*.suo
*.vcxproj.user
*.ipch
*.sdf